

          <!-- Write your tweet -->
            <div class="d-flex flex-column px-5 py-3 mx-4 mt-4 bg-white">
                <p class="font-weight-bold my-3 text-muted">Write Opinion</p>
                
                <%= form_for Opinion.new do |f| %>
                      <%= f.text_field :text, autofocus: true, class: "form-control", id:"opinion"%>
                      <%= f.submit class: "btn btn-primary float-right m-3" %>
                  <% end %>
                  
              </div>
