 <div class="top-nav-1 d-flex justify-content-end py-2 sticky-top ">
         <%= link_to root_path, class:"px-5 py-2 mr-auto" do %>
         <i class="fa fa-home text-light" aria-hidden="true"></i>
        <%end%>

       
        <%= link_to logout_path, method: :delete, class:"px-4 py-2" do %>
         <i class="fa fa-sign-out text-muted" aria-hidden="true"></i>
        <%end%>
        
      </div>