 <div class="top-nav-1 d-flex justify-content-end py-2 sticky-top ">
         <%= link_to root_path, class:"px-5 py-2 mr-auto" do %>
         <i class="fa fa-home" aria-hidden="true"></i>
        <%end%>
        <a class="px-4 py-2" href=""><i class="fa fa-pen" aria-hidden="true"></i></a>
        <a class="px-4 py-2" href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="px-4 py-2" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        <a class="px-4 py-2" href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
       
        <%= link_to logout_path, method: :delete, class:"px-4 py-2" do %>
         <i class="fa fa-sign-out" aria-hidden="true"></i>
        <%end%>
        
      </div>